---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Soy un apasionado de la tecnología y el desarrollo de software, con una amplia experiencia en la creación de páginas web y soluciones digitales innovadoras. Como líder de Web Nexus, he demostrado habilidades excepcionales en el diseño y desarrollo de sitios web personalizados que satisfacen las necesidades específicas de los clientes, asegurando una experiencia de usuario óptima y eficiente.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ingeniero en Computación"
      subtitle="2015 a 2020 en Univerisdad Autonoma de Baja California, Tijuana , México"
    />
    <TimeLineElement
      title="Ingeniero en Sistemas"
      subtitle="2020 en Panasonic, Tijuana, México"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia Laboral</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Ingeniero Full Stack"
      subtitle="Dec - 2022 / Ene 2024 -  En Agencia Digital del Estado de Baja California"
    >
      En este rol, lideré y contribuí a una variedad de proyectos de desarrollo web, abarcando tanto el front-end como el back-end. Mis responsabilidades incluyeron:

      <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li> Diseño e implementación de interfaces de usuario interactivas y responsivas, utilizando tecnologías modernas como React y Vue.</li>
      <li> Desarrollo y mantenimiento de servidores y bases de datos, asegurando la escalabilidad y seguridad de las aplicaciones.</li>
      <li> Colaboración estrecha con equipos multidisciplinarios para definir requisitos, plazos y objetivos de los proyectos.</li>
      <li> Implementación de prácticas de desarrollo ágil para mejorar la eficiencia y la calidad del código.</li>
      <li> Desarrollo de soluciones personalizadas que mejoraron significativamente la interacción digital de los ciudadanos con el gobierno.</li>
    </ul>
    
    </TimeLineElement>
    <TimeLineElement
    title="Ingeniero en Computación"
    subtitle="Mayo - 2022 / Dec 2023 - En Universidad Xochicalco"
  >
    Durante mi tiempo en la Universidad Xochicalco, asumí un papel crucial en el desarrollo y gestión de sistemas informáticos. Mis principales contribuciones fueron:

    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>Diseño y ejecución de sistemas de gestión de bases de datos para mejorar el almacenamiento y acceso a la información académica.</li>
      <li>Implementación de herramientas analíticas para evaluar y mejorar los procesos académicos y administrativos.</li>
      <li>Colaboración con el personal académico y administrativo para identificar y resolver problemas tecnológicos.</li>
      <li>Formación y liderazgo de equipos de estudiantes en proyectos de desarrollo de software, fomentando habilidades técnicas y de trabajo en equipo.</li>
      <li>Innovación en la implementación de tecnologías emergentes para mejorar la infraestructura de TI de la universidad.</li>
    </ul>
  </TimeLineElement>
  <TimeLineElement
  title="Programador Web Jr"
  subtitle="Nov - 2021 / Abril 2022 - En Global Hitts proyecto para TELNOR"
>
  Como Programador Web Jr, mi papel fue fundamental en el desarrollo de soluciones web para TELNOR. Mis responsabilidades incluyeron:

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Desarrollo de componentes front-end utilizando HTML, CSS y JavaScript, asegurando la compatibilidad y rendimiento en diversos dispositivos.</li>
    <li>Asistencia en el desarrollo de back-end, incluyendo la programación en PHP y la gestión de bases de datos MySQL.</li>
    <li>Colaboración con diseñadores y otros desarrolladores para crear experiencias de usuario coherentes y atractivas.</li>
    <li>Pruebas y depuración de aplicaciones web para garantizar su funcionalidad y eficiencia.</li>
    <li>Aprendizaje y adaptación rápidos a nuevas tecnologías y herramientas bajo la tutela de desarrolladores senior.</li>
  </ul>
</TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.freecodecamp.org/certification/fcc17ac7215-c3c2-41ff-be42-39d6e32a7905/responsive-web-design" target="_blank"> Responsive Web Design</a>
    </li>
    <li>
      <a href="https://www.freecodecamp.org/certification/fcc17ac7215-c3c2-41ff-be42-39d6e32a7905/front-end-development-libraries" target="_blank"> Front End Development Libraries</a>
    </li>
    <li>
      <a href="https://www.freecodecamp.org/certification/fcc17ac7215-c3c2-41ff-be42-39d6e32a7905/javascript-algorithms-and-data-structures" target="_blank"> JavaScript Algorithms and Data Structures</a>
    </li>
    <li>
      <a href="https://www.freecodecamp.org/certification/fcc17ac7215-c3c2-41ff-be42-39d6e32a7905/data-visualization" target="_blank"> Data Visualization </a>
    </li>
    <li>
      <a href="" target="_blank"> Desde el gobierno digital hacia el gobierno inteligente</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>Astro</li>
      <li>AWS</li>
      <li>Bootstrap</li>
      <li>CSS</li>
      <li>Express</li>
      <li>GIT</li>
      <li>HTML</li>
      <li>Java</li>
      <li>JavaScript</li>
      <li>Node</li>
      <li>PHP</li>
      <li>Python</li>
      <li>React</li>
      <li>Tailwind</li>
      <li>Zappier</li>
  </ul>
  
</BaseLayout>
