---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hola </div>
    <div class="text-5xl font-bold">Soy Leonardo Aguilar</div>
    <div class="text-3xl py-3 font-bold">Ingeniero de Software y Full Stack</div>
    <div class="py-2">
      <text class="text-lg">
        Bienvenido a mi portafolio digital. Aqu铆 encontrar谩s mi trabajo 
        , donde creamos soluciones web personalizadas para nuestros clientes. Con experiencia en desarrollo de software y una pasi贸n por la tecnolog铆a y los juegos de cartas, busco siempre innovar y crear productos impactantes.
        隆Espero que disfrutes mi trabajo!
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/leonardo-aguilar-67894b287/" target="_blank"> 隆Conectemos!</a>
      <a href="https://bold.pro/my/leonardodavid-aguilarcontreras" target="_blank" class="btn btn-outline ml-5">
        Explora mi portafolio
      </a>
    </div>
  </div>
  
  <div class="mt-8 mb-8">
    <div class="text-3xl w-full font-bold mb-2 ">Descarga mi CV </div>
    
    <a href="https://drive.google.com/file/d/1qZqtwmPpuFNuLD2ST-SrJfRvFkiw7-D9/view?usp=sharing" target="_blank" class="btn btn-outline ml-5">
        Front - End 
    </a>
    
    <a href="https://drive.google.com/file/d/1uevAQH8SC2TyWyx9utrIApCbA1PF_XPz/view?usp=sharing" target="_blank" class="btn btn-outline ml-5 ">
        Back - End 
    </a>
    
    <a href="https://drive.google.com/file/d/1QJcfMEm3H8ACUBbUeKDQ45GORBOh05Ma/view?usp=sharing" target="_blank" class="btn btn-outline ml-5 ">
        Full-Stack
    </a>


  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Demos en Producci贸n {"</>"}</div>
  </div>

  <HorizontalCard
    title="Identidad Digital BC"
    img="https://www.identidadbc.bajacalifornia.gob.mx/resources/img/Imagenes/img_huella@4x.png"
    desc="Explora la era de la identificaci贸n digital con Identidad Digital BC. Una plataforma innovadora que garantiza seguridad y facilidad en el acceso a servicios gubernamentales, utilizando tecnolog铆as avanzadas para la verificaci贸n de identidad. Descubre c贸mo tu huella digital abre puertas en el mundo digital"
    url="https://www.identidadbc.bajacalifornia.gob.mx/oauthV2.xhtml?client_id=201910171350301234&redirect_url=https%3A%2F%2Fwww.identidadbc.bajacalifornia.gob.mx%2Findex.xhtml&state=PrkkV36jz-G4kzhXMkK6siGUT503_BTb3a1lY6ioub1RDvK7JlCTNETQ_fYtMCY3"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Pagina MUAC"
    img="https://www.ventanillabc.bajacalifornia.gob.mx/assets/img/slide/BC-MUAC-desktop@4k.jpg"
    desc="Conoce MUAC, tu Modelo nico de Atenci贸n Ciudadana en Baja California. Esta p谩gina es tu puerta de entrada a un servicio p煤blico eficiente y personalizado. Aqu铆, los ciudadanos pueden acceder f谩cilmente a informaci贸n vital y realizar tr谩mites en l铆nea, todo en un solo lugar dise帽ado para simplificar tu vida."
    url="https://muac.bajacalifornia.gob.mx/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Ventanilla Unica"
    img="https://www.ventanillabc.bajacalifornia.gob.mx/assets/img/slide/banner1.jpg"
    desc="Descubre la eficiencia y comodidad de la 'Ventanilla nica', una soluci贸n integral para todos tus tr谩mites gubernamentales en Baja California. Este portal revoluciona la manera de interactuar con el gobierno, proporcionando un acceso r谩pido y sencillo a una amplia gama de servicios. Con la 'Ventanilla nica', evita largas colas y procesos complicados; aqu铆, encontrar谩s todo lo que necesitas con solo unos clics. Ideal para ciudadanos y empresas, esta plataforma es tu conexi贸n directa para gestionar tr谩mites, obtener informaci贸n y mucho m谩s, todo bajo una versi贸n intuitiva y segura, la 'Versi贸n 1.0'."
    url="https://www.ventanillabc.bajacalifornia.gob.mx/"
    badge="Versi贸n 1.0"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
  title="Proyectos emblematicos"
  img="https://emblematico.adigitalbc.com/assets/img/infografias/tramites-main.jpg"
  desc="Descubre los Proyectos Emblem谩ticos de Baja California, una vitrina de iniciativas innovadoras y transformadoras. Esta plataforma resalta los avances m谩s significativos en servicios p煤blicos, mostrando c贸mo la tecnolog铆a y el compromiso c铆vico est谩n modelando un futuro m谩s brillante."
  url="https://emblematico.adigitalbc.com/"
  badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
  title="Sitio Gobierno Abierto - Baja Datos"
  img="https://www.forocivico.bajacalifornia.gob.mx/assets/img/foto3.jpeg"
  desc="Bienvenido a Baja Datos, el coraz贸n de Gobierno Abierto en Baja California. Aqu铆 encontrar谩s un compromiso transparente con la apertura de datos, facilitando la participaci贸n ciudadana y fomentando la rendici贸n de cuentas. Descubre c贸mo la informaci贸n se transforma en poder para el pueblo."
  url="https://www.forocivico.bajacalifornia.gob.mx/index.php"
  badge="Beta"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
  title="Turnero Agencia Digital de Baja California"
  img="https://screenshot-proxy.netlify.app/f_avif,fit_cover,s_1920x1200/https://d33wubrfki0l68.cloudfront.net/64b8557a27f8c600097f52ea/screenshot_2023-07-19-21-29-46-0000.png"
  desc="Experimenta la eficiencia con el Turnero de la Agencia Digital de Baja California. Esta herramienta de gesti贸n de turnos online es un paso adelante hacia un gobierno m谩s accesible y organizado. Prueba la versi贸n demo y descubre c贸mo simplificar tus visitas a las oficinas gubernamentales."
  url="https://turnero-fb-adbc.netlify.app/"
  badge="Demo"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
  title="Pagina Dictaminaci贸n Agencia Digital de Baja California"
  img="https://screenshot-proxy.netlify.app/f_avif,fit_cover,s_1920x1200/https://d33wubrfki0l68.cloudfront.net/658f26eea5b908000897b9d4/screenshot_2023-12-29-20-07-58-0000.webp"
  desc="Explora la P谩gina de Dictaminaci贸n de la Agencia Digital de Baja California, una interfaz intuitiva para la gesti贸n de documentos y procesos oficiales. Con una navegaci贸n sencilla y una presentaci贸n clara, esta herramienta es esencial para agilizar procedimientos gubernamentales."
  url="https://adbc-dictamenes.netlify.app/"
  badge="Demo"
  />
  
{/* 
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Ultimos Proyectos </div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
  */}
</BaseLayout>
