---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hola </div>
    <div class="text-5xl font-bold">Soy Leonardo Aguilar</div>
    <div class="text-3xl py-3 font-bold">Ingeniero de Software y Full Stack</div>
    <div class="py-2">
      <text class="text-lg">
        Bienvenido a mi portafolio digital. Aqu铆 encontrar谩s mi trabajo 
        , donde creamos soluciones web personalizadas para nuestros clientes. Con experiencia en desarrollo de software y una pasi贸n por la tecnolog铆a y los juegos de cartas, busco siempre innovar y crear productos impactantes.
        隆Espero que disfrutes mi trabajo!
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/leonardo-aguilar-67894b287/" target="_blank"> 隆Conectemos!</a>
      <a href="https://bold.pro/my/leonardodavid-aguilarcontreras" target="_blank" class="btn btn-outline ml-5">
        Explora mi portafolio
      </a>
    </div>
  </div>
  

  <div>
    <div class="text-3xl w-full font-bold mb-2">Demos en Producci贸n {"</>"}</div>
  </div>

  <HorizontalCard
    title="Identidad Digital BC"
    img="https://www.identidadbc.bajacalifornia.gob.mx/resources/img/Imagenes/img_huella@4x.png"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://www.identidadbc.bajacalifornia.gob.mx/oauthV2.xhtml?client_id=201910171350301234&redirect_url=https%3A%2F%2Fwww.identidadbc.bajacalifornia.gob.mx%2Findex.xhtml&state=PrkkV36jz-G4kzhXMkK6siGUT503_BTb3a1lY6ioub1RDvK7JlCTNETQ_fYtMCY3"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Pagina MUAC"
    img="https://www.ventanillabc.bajacalifornia.gob.mx/assets/img/slide/BC-MUAC-desktop@4k.jpg"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://muac.bajacalifornia.gob.mx/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Ventanilla Unica"
    img="https://www.ventanillabc.bajacalifornia.gob.mx/assets/img/slide/banner1.jpg"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://www.ventanillabc.bajacalifornia.gob.mx/"
    badge="Versi贸n 1.0"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
  title="Proyectos emblematicos"
  img="https://emblematico.adigitalbc.com/assets/img/infografias/tramites-main.jpg"
  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  url="https://emblematico.adigitalbc.com/"
  badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
  title="Sitio Gobierno Abierto - Baja Datos"
  img="https://www.forocivico.bajacalifornia.gob.mx/assets/img/foto3.jpeg"
  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  url="https://www.forocivico.bajacalifornia.gob.mx/index.php"
  badge="Beta"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
  title="Turnero Agencia Digital de Baja California"
  img="https://screenshot-proxy.netlify.app/f_avif,fit_cover,s_1920x1200/https://d33wubrfki0l68.cloudfront.net/64b8557a27f8c600097f52ea/screenshot_2023-07-19-21-29-46-0000.png"
  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  url="https://turnero-fb-adbc.netlify.app/"
  badge="Demo"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
  title="Pagina Dictaminaci贸n Agencia Digital de Baja California"
  img="https://screenshot-proxy.netlify.app/f_avif,fit_cover,s_1920x1200/https://d33wubrfki0l68.cloudfront.net/658f26eea5b908000897b9d4/screenshot_2023-12-29-20-07-58-0000.webp"
  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  url="https://turnero-fb-adbc.netlify.app/"
  badge="Demo"
  />
  
{/* 
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Ultimos Proyectos </div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
  */}
</BaseLayout>
